.aboutMe {
  display: flex;
  margin-top: 200px;
  padding-bottom: 100px;
  transition: 0.3s;
  border: none;
}

.aboutMe:hover {
  transform: scale(1.1);
  transition: 0.5s;
  margin-bottom: 50px;
  margin-top: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
  transition: 0.3s;
  border-radius: 50% 50% 50% 50%;
  box-shadow: none;
}

.aboutMe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; /* Asegura que el fondo se ajuste */
  border-radius: inherit; /* Inherit the parent border-radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: -1; /* Mantiene el pseudo-elemento detrás del contenido */
  transition: border-radius 0.5s ease; /* Transición suave */
  filter: blur(40px);
}
.aboutMe:hover::before {
  border-radius: 50%; /* Ajusta el pseudo-elemento al 50% también */
}

.avatarSandra {
  margin-left: 50px;
  margin-top: 15px;
}

.sandraImg {
  width: 300px;
  height: 300px;
  margin-bottom: 0;
}

.containerTextAboutMe {
  width: 800px;
  margin-right: auto;
  margin-left: 50px;
}

.secondMainText {
  margin: 0;
  font-size: 35px;
}

.secondParagraph {
  font-size: 30px;
}

@media (max-width: 768px) {
  .aboutMe {
    display: flex;
    margin-top: 100px;
    padding-bottom: 100px;
    border: none;
    transition: none; /* Eliminar transición */
    transform: none; /* Eliminar transformación */
  }

  /* Quitar pseudo-elementos before */
  .aboutMe::before {
    display: none; /* Eliminar pseudo-elementos before */
  }

  /* Eliminar efectos de hover */
  .aboutMe:hover {
    transform: none; /* Eliminar transformación */
    border-radius: 0; /* Eliminar borde redondeado */
    box-shadow: none; /* Eliminar sombra */
    transition: none;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: none;
    margin-bottom: 20px;
  }

  .avatarSandra {
    margin-left: 10px;
    margin-top: 30px;
  }

  .sandraImg {
    width: 200px;
    height: 200px;
    margin-bottom: 0;
  }

  .containerTextAboutMe {
    width: 800px;
    margin-right: auto;
    margin-left: 50px;
    margin-top: 30px;
  }

  .secondMainText {
    margin: 0;
    font-size: 25px;
  }

  .secondParagraph {
    font-size: 20px;
  }
}

/* Para smartphones (480px o menos) */
@media (max-width: 480px) {
  .aboutMe {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 100px;
  }

  /* Eliminar efectos de hover */
  .aboutMe:hover {
    transform: none; /* Eliminar transformación */
    border-radius: 0; /* Eliminar borde redondeado */
    box-shadow: none; /* Eliminar sombra */
    transition: none;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: none;
    margin-bottom: 20px;
  }

  .avatarSandra {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .sandraImg {
    width: 200px;
    height: 200px;
  }

  .containerTextAboutMe {
    width: 400px;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 30px;
  }

  .secondMainText {
    margin: 0;
    font-size: 25px;
  }

  .secondParagraph {
    font-size: 20px;
  }
}
