.contact {
  font-style: normal;
}
.containerContact {
  background-color: #f0f0f0;
}

.txtcontact {
  font-size: 35px;
}

.parrafocontact {
  font-size: 26px;
}

.phone {
  font-size: 26px;
}

.mail {
  font-size: 26px;
}

@media (max-width: 768px) {
}

/* Para smartphones (480px o menos) */
@media (max-width: 480px) {
}
