.philosophy {
  transition: 0.5s;
}

.philosophy:hover {
  transform: scale(1.1);
  transition: 0.5s;
  margin-bottom: 50px;
  margin-top: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
  transition: 0.3s;
  border-radius: 50% 50% 50% 50%;
  box-shadow: none;
}

.philosophy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; /* Asegura que el fondo se ajuste */
  border-radius: inherit; /* Inherit the parent border-radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: -1; /* Mantiene el pseudo-elemento detrás del contenido */
  transition: border-radius 0.5s ease; /* Transición suave */
  filter: blur(40px);
}

.philosophy:hover::before {
  border-radius: 50%; /* Ajusta el pseudo-elemento al 50% también */
}

.containerTextPhilosofy {
  margin-left: 100px;
}

.txtH2 {
  font-style: normal;
}

.txtP {
  font-style: normal;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  /* Tablets */
  .philosophy {
    display: flex;
    margin-top: 100px;
    padding-bottom: 100px;
    border: none;
    transition: none; /* Eliminar transición */
    transform: none; /* Eliminar transformación */
  }

  .philosophy:hover {
    transform: none; /* Eliminar transformación */
    border-radius: 0; /* Eliminar borde redondeado */
    box-shadow: none; /* Eliminar sombra */
    transition: none;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: none;
    margin-bottom: 20px;
  }

  .philosophy::before {
    display: none; /* Eliminar pseudo-elementos before */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
  }

  .philosophy:hover::before {
    border-radius: none; /* Ajusta el pseudo-elemento al 50% también */
    display: none;
  }
}

@media (max-width: 480px) {
  /* Smartphones */
  .philosophy {
    display: flex;
    margin-top: 100px;
    padding-bottom: 100px;
    border: none;
    transition: none; /* Eliminar transición */
    transform: none; /* Eliminar transformación */
  }

  .philosophy:hover {
    transform: none; /* Eliminar transformación */
    border-radius: 0; /* Eliminar borde redondeado */
    box-shadow: none; /* Eliminar sombra */
    transition: none;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: none;
    margin-bottom: 20px;
  }

  .containerTextPhilosofy {
    margin-left: 20px;
  }
}
